<div style="position: absolute; top: 70px; left: 30px; z-index: 23412341;" xmlns="">
  <div style="font-size: 55px; color: white; font-weight: 600">Pour plus d'informations...</div>
  <div style="font-size: 55px; color: white; font-weight: 300; line-height: 15px">Contactez-nous !</div>
</div>

<div class ="background" style="height: 35vh;"></div>

<div class="map">
  <div id="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2530.5744360433987!2d3.0561315154619195!3d50.635021981929704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d586bdef03d1%3A0x2a6a99ce25a8d4af!2s91+Rue+Nationale%2C+59800+Lille!5e0!3m2!1sfr!2sfr!4v1538561040602" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
  <div class="map-c">
    <h1>{{schoolSelected.nom}} Lille</h1>
    <br>
    <div class="det"><i class="fa fa-map-marker"></i>91, rue Nationale<br>Immeuble Le Plazza<br>59000 Lille</div>
    <div class="imgPhone"></div><div class="det" id="a"><p>03 20 34 35 36</p></div>
    <div class="imgWeb" ></div><div class="det" id="b"><p><a href="{{schoolSelected.siteWeb}}">Site web</a></p></div>
    <div class="imgFacebook" ></div><div class="det" id="c"><p><a href="{{schoolSelected.pageFb}}">Page Facebook</a></p></div>
  </div>
</div>
